<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>职位数据可视化</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        {% include 'leftbar.html' %}
        <!-- Left Sidebar End -->

        {% include "header.html" %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">数据可视化</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">数据可视化</a></li>
                                        <li class="breadcrumb-item active">职位薪资/城市分布</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-lg-12">
                             <div class="card card-animate">
                                <div class="card-body">
                                    <h4 class="card-title d-inline-block">薪资平均水平直方图</h4>
                                    <div id="jobSalaryBar" style="height: 480px;"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                             <div class="card card-animate">
                                <div class="card-body">
                                    <h4 class="card-title d-inline-block">职位所属城市分布图</h4>
                                    <div id="jobArea" class="morris-chart" style="height: 480px;"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>
    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/china.js" ></script>
    <script type="text/javascript">
           $.ajax({
            url: '/getjobcountbycity',
            method: 'post',
            data: {},
            dataType: 'json',
            success: function (data){
                pieData = []
                for(i = 0; i < data.length; i++){
                    jsonData = {value: data[i].jobCount, name: data[i].jobCity}
                    pieData[i] = jsonData
                }

                var chartDom = document.getElementById('jobArea');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                  backgroundColor: '#fff',
                  tooltip: {
                    trigger: 'item'
                  },
                  visualMap: {
                    show: true,
                    min: 80,
                    max: 600,
                    inRange: {
                      colorLightness: [0.15, 0.5]
                    }
                  },
                  series: [
                    {
                      name: 'Access From',
                      type: 'pie',
                      radius: '80%',
                      center: ['50%', '60%'],
                      data: pieData,
                      roseType: 'radius',
                      label: {
                        color: '#000'
                      },
                      labelLine: {
                        lineStyle: {
                            color: '#000'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                      },
                      itemStyle: {
                        color: 'rgb(10,50,200)',
                        shadowBlur: 200,
                        shadowColor: '#eee'
                      },
                      animationType: 'scale',
                      animationEasing: 'elasticOut',
                      animationDelay: function (idx) {
                        return Math.random() * 200;
                      }
                    }
                  ]
                };

                option && myChart.setOption(option);
            },
            error: function (xhr){

            }
        })


        $.ajax({
                url: '/getjobsalarybycity',
                method: 'get',
                data: {

                },
                dataType: "json",
                success: function (data) {
                    labels = []
                    values = []
                    for(i=0;i<data.length;i++){
                        labels[i] = data[i].jobCity
                        values[i] = data[i].jobsavg
                    }

                    var chartDom = document.getElementById('jobSalaryBar');
                    var myChart = echarts.init(chartDom);
                    var option;

                    option = {
                      xAxis: {
                        type: 'category',
                        data: labels
                      },
                      yAxis: {
                        type: 'value'
                      },
                      series: [
                        {
                          data: values,
                          type: 'bar'
                        }
                      ]
                    };

                    option && myChart.setOption(option);

                },
                error: function (xhr) {
                }
            })
    </script>
    <script src="/static/assets/js/area_echarts.js"></script>
</body>

</html>