<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>职位薪资预测</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        {% include 'leftbar.html' %}
        <!-- Left Sidebar End -->

        {% include "header.html" %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">数据管理</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">数据管理</a></li>
                                        <li class="breadcrumb-item active">职位薪资预测</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->



                    <div class="row">
                        <div class="col-12">
                             <div class="card card-animate">
                                <div class="card-body">
                                    <p class="card-subtitle mb-4">
                                        <form action="/jobsalarypredict" method="post" name="predictForm" class="form-inline" onsubmit="return check(this)">
                                            <div class="card-body" style="width:72rem; ">
                                                城市名:<input type="text" class="form-control"  name="jobCity" value="{{ jobCity }}"/>
                                            </div>
                                            <div class="card-body" style="width:72rem;">
                                                职位类型：
                                                <select class="form-control form-control-placeholder" name="jobType" value="Java">
                                                    <option value="Java" >Java</option>
                                                    <option value="Python">Python</option>
                                                    <option value="大数据">大数据</option>
                                                    <option value="机器学习">机器学习</option>
                                                </select>

                                            </div>
                                            <div class="card-body">
                                                <button type="submit" class="btn btn-secondary">职位薪资预测</button>
                                            </div>
                                        </form>
                                    </p>
                                </div>

                                 <div class="card-body">
                                    <p class="card-subtitle mb-4">
                                        <div class="card" style="height: 8rem;">
                                        <font size="4">结果：</font>
                                                <font size="8"> {{ lowSalary }}K ——
                                                {{ highSalary }}K </font>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>
    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/china.js" ></script>

    <script type="text/javascript">
    </script>

    <script src="/static/assets/js/area_echarts.js"></script>
</body>

</html>