<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>各城市平均薪资</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="MyraStudio" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Plugins css -->
         <!-- App css -->
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        {% include 'leftbar.html' %}
        <!-- Left Sidebar End -->

        {% include "header.html" %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">各城市平均薪资</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">系统平台</a></li>
                                        <li class="breadcrumb-item active">各城市平均薪资</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-lg-12">
                             <div class="card card-animate">
                                <div class="card-body">
                                    <h4 class="card-title d-inline-block">各城市平均薪资</h4>
                                    <div id="meanSalaryMap"  style="height: 480px;"></div>
                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2020 © Opatix.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Myra
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>


    <!-- jQuery  -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/metismenu.min.js"></script>
    <script src="/static/assets/js/waves.js"></script>
    <script src="/static/assets/js/simplebar.min.js"></script>
    <!-- Morris Custom Js-->
    <script src="/static/assets/pages/dashboard-demo.js"></script>

    <!-- App js -->
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/china.js" ></script>

    <!-- 平均薪资图  -->
    <script src="/static/assets/js/getMeanSalary.js" ></script>

    <script src="/static/assets/js/area_echarts.js"></script>

    </body>
</html>